!!! 5
html
  head
    title
      | Metanode
      = title ? ' - ' + title : ''
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Metanode" />
    <meta name="language" content="en" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" type="text/css" media="screen" href="" />
    <script type="text/javascript" src="/web/jquery.min.js"></script>
  body
    - var index = url('index')
    a(href: index)
      h1 Metanode
    != partial('menu')
    div!= body